/*
========================================
Crystal Game
========================================
*/

* {
    box-sizing: border-box;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }
 
/*
========================================
Header - Nav Bar
========================================
*/

.container1 {
  margin: 0 auto;
  max-width: 960px;
}

header {
  background: black;
  border: 1px solid transparent;
  box-shadow: 2px 4px 8px black;
  color: silver;
  font-family:'Raleway', sans-serif;
  padding: 20px 40px 20px 40px;
  z-index: 1;
}

nav a {
  color: silver;
  font-size: 1rem;
  margin-left: 1rem;
  padding: .25rem 0;
}

nav a:hover {
  color: grey;
  border-bottom: 2px solid grey;
  text-decoration: none;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 40px;
}

/*
========================================
Main
========================================
*/

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.background {
  flex-grow: 1;
  padding: 40px; 
  width: 100%;
  z-index: 0;
}

.containerIntro {
  background: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 960px;
  opacity: .9;
  overflow: auto;
  padding: 40px 40px 20px 40px;
  z-index: 2;
}

.container2 {
  background: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  max-width: 960px;
  overflow: auto;
  padding: 20px 40px 10px 40px;
  z-index: 1;
}

.row {
  padding: 0px 40px 40px 40px;
}

.lostGame, .wonGame {
  height: auto; 
  margin: 0 auto;
  max-width: 300px;
  position: relative; 
 }

/*
========================================
Typography
========================================
*/

h1 { /* PORTFOLIO SITE STYLES */
  font-family: 'Raleway', sans-serif;  
  font-size: 2rem;
  font-weight: bold;
  /* margin: 15px 20px 0px 20px;  */
  text-align: left;
  text-decoration: none;
}

p {  /* PORTFOLIO SITE STYLES */
  color: #777777;
  font-family: 'Raleway', sans-serif;  
}

h2 {
  color: grey;
  font-family: 'Fondamento', cursive;  /* decorative font */
  font-size: 2rem;
  line-height: 1.5; 
  text-decoration: none;
}

.containerIntro h1 {
  color: silver; 
  display: table;
  margin: 0 auto;
}

.containerIntro p {
  color: grey;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  line-height: 1.5; 
}

.wins_losses p {
  color: #1d9ef3;
  font-family: 'Karla', sans-serif;  /* standard font */
  font-size: 24px; 
  text-align: right;
}

#goodLuck {
  display: table;
  margin: 0 auto;
  text-align: center;
}

#activeGame h2 {
  color: #876fe3;
}

#number-to-guess, #userTotal p {
  color: #eee8ac;
  font-family: 'Karla', sans-serif;  /* standard font */
  font-size: 24px; 
  line-height: 1.5; 
}

#instructions h1, #activeGame h1 {
  font-family: 'Fondamento', cursive;   /* decorative font */
  font-size: 24px; 
}

#instructions2 {
  color: silver; 
  display: table;
  font-family: 'Karla', sans-serif;     /* standard font */
  font-size: 20px; 
  line-height: 1.5; 
  margin: 0 auto;
  padding-top: 20px;  
}

/*
========================================
Instructions on hover 
========================================
 */

#a:hover {
  text-decoration: underline;
  text-decoration-color: red; 
}
#b:hover {
  text-decoration: underline;
  text-decoration-color: yellow; 
}
#c:hover {
  text-decoration: underline;
  text-decoration-color:greenyellow; 
}
#d:hover {
  text-decoration: underline;
  text-decoration-color: #1d9ef3; 
}
#e:hover {
  text-decoration: underline;
  text-decoration-color: #876fe3; 
}

#f:hover {
  text-decoration: underline;
  text-decoration-color: fuchsia; 
}

  /*
========================================
Media 
========================================
 */

#myVideo {
  flex-grow: 1;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/*
========================================
Modal 
========================================
*/

.modalCustom {
  color: silver; 
  background: black; 
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 /*
========================================
Buttons
========================================
*/

#restart, #playButton {
  color: white;
  background: black;
  display: table;
  font-family: 'Karla', sans-serif;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 10px;
 }

 #restart:hover, #playButton:hover {
  color: black;
  background: white;
  font-weight: bold; 
}

/*
========================================
Crystals 
========================================
*/

#crystal_1:hover, #crystal_2:hover, #crystal_3:hover, #crystal_4:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {    /* Crystal animation */
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*
========================================
footer
========================================
*/

footer {
  background: black;
  border: 1px solid transparent;
  bottom: 0;
  box-shadow: 10px -8px 10px -6px black;
  color: grey;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 10px;
  padding-top: 30px;
  position: fixed;
  width: 100%; 
  z-index: 1;
}

/*
========================================
Media Screens
========================================
*/

@media screen and (min-width: 789px) {

  .containerIntro {
    max-width: 960px;
    overflow: auto;
    padding: 40px 40px 20px 40px;
  }
    
  .container2 {
    max-width: 960px;
    overflow: auto;
    padding: 20px 40px 10px 40px;
  }
        
  h1 { /* PORTFOLIO SITE STYLES */
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
  }

  p {  /* PORTFOLIO SITE STYLES */
    color: #777777;
    font-family: 'Raleway', sans-serif;  
  }

  h2 {
    font-size: 2rem;
    line-height: 1.5; 
  }

  .containerIntro p {
    font-size: 18px;
    line-height: 1.5; 
  }

  .wins_losses p {
    font-size: 24px; 
    text-align: right;
  }

  #number-to-guess, #userTotal p {
    font-size: 24px; 
    line-height: 1.5; 
  }

  #instructions h1, #activeGame h1 {
    font-size: 24px; 
  }

  #instructions2 {
    font-size: 20px; 
    line-height: 1.5; 
    padding-top: 20px;  
  }
}

@media screen and (max-width: 788px) {

  .containerIntro {
    max-width: 960px;
    overflow: auto;
    padding: 20px 10px 20px 10px;
  }
    
  .container2 {
    line-height: 1.5;
    max-width: 960px;
    overflow: auto;
    padding: 20px 10px 20px 10px;
  }

  h1 { /* PORTFOLIO SITE STYLES */
    font-size: 3vw;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
  }
  
  p {  /* PORTFOLIO SITE STYLES */
    color: #777777;
    font-family: 'Raleway', sans-serif; 
    font-size: 2vw;
  }
  
  h2 {
    font-size: 4vw;
    line-height: 1.5; 
  }
  
  .containerIntro p {
    font-size: 3vw;
    line-height: 1.5; 
  }
  
  .wins_losses p {
    font-size: 3vw;
    line-height: 2;
    text-align: right;
  }
  
  #number-to-guess, #userTotal p {
    font-size: 5vw; 
    line-height: 1.5; 
  }
  
  #instructions h1, #activeGame h1 {
    font-size: 5vw; 
  }
  
  .instructionsSmall {
    display: none;
  }
}